<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    {% block title %}
    	<title>La puerta geek</title>

    {% endblock title %}
      
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<br><br> <br>
<body>
    <div class="row">

	{% block header %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <a class="navbar-brand" href="#">La puerta geek</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'noticias:listado_noticias' %}">Noticias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nuestra Programacion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Educacion</a>
          </li>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Acerca de...</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Buscar">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
        </form>
      </div>
  </nav>
	{% endblock header %}
    
	  
    {% block content %}
            
        <div class="container-fluid col-md-7 offset-1">
        <div class="alert-info">
		    <div class="jumbotron">
        <h1 class="display-3">La puerta geek</h1>
        <p class="lead">Una entrada al mundo de la ciencia y tecnologia.</p>
        <hr class="my-4">
        <p>Puedes recibir notificaciones sobre noticias y mas a tu correo.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Registrate Aqui</a>
        </p>
      </div>
      </div>
      </div>
   

  {% endblock content %}

</body>

</div>
{% block aside %}

  
{% endblock aside %}

{% block footer %} 
<footer>
	<div id="footer" class="container-fluid fixed-bottom">
		<nav id="navbar-example2" class="navbar navbar-light bg-light">
				<a class="navbar-brand" href="#"><strong><h5> Creado por: Julio Dominguez</h5></strong></a>
				<ul class="nav nav-pills">
					<li class="nav-item">
						<a class="nav-link" href="#fat">@jdomcanal</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#mdo">Jdomcanal</a>
					</li>
					
			</div>
		</footer>
			{% endblock footer %}
</html>