{% extends 'home.html' %}
{% load staticfiles %}

     
{% block content %}

          
    <div class="container-fluid col-md-6 offset-1 ">
        {% if object_list %} {% for noticia in object_list %}
        <div class="card mb-4">
         <img src="{{noticia.imagen}}" ></img>
        <div class="card-body">

          <h2 class="card-title">{{noticia.titulo}}</h2>
          <p class="card-text">{{noticia.texto}}</p>
          <a href="https://bootsnipp.com/fullscreen/6Xa15" class="btn btn-primary">Leer mas...</a>
        </div>
        <div class="card-footer text-muted">
          {{noticia.fecha_publicado}} || Autor: {{noticia.autor}}
        </div>
      </div>
    
    <br>
    <br>
    <br>

   
    {%endfor%} {%else%}
        <H1>no hay noticias que mostrar</H1>
        
        
        
        {%endif%}

{% endblock content %}

{% block aside %}
<div id ="aside" class="container-fluid col-md-3 ">
<div class="card my-3 ">
    <center> <h5 class="card-header">Categorias</h5></center>
    <div class="card-body">
        
                <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          {Cras justo odio}
                          <span class="badge badge-primary badge-pill">14</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Dapibus ac facilisis in
                          <span class="badge badge-primary badge-pill">2</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Morbi leo risus
                          <span class="badge badge-primary badge-pill">1</span>
                        </li>
                 </ul>
        </div>
      </div> 
      
      <div class="card my-3 ">
            <center> <h5 class="card-header">Recomendaciones</h5></center>
            <div class="card-body">
                
                        <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                  {Cras justo odio}
                                  <span class="badge badge-primary badge-pill">14</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                  Dapibus ac facilisis in
                                  <span class="badge badge-primary badge-pill">2</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                  Morbi leo risus
                                  <span class="badge badge-primary badge-pill">1</span>
                                </li>
                         </ul>
                </div>
        </div>
<style>
    #aside {
      right:0;
      position: fixed;
      
    }
    </style> 
</div>

    </div>
    
{% endblock aside %}
